@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

a {
  text-decoration: none;
}

li {
  list-style: none;
}
td {
  text-overflow: ellipsis;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

#content {
  width: 100%;
  transition: 0.3s ease;
  height: 100%;
  margin-left: 80px;
}
/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  height: 100%;
  overflow-y: auto;
}
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}
#content main .head-title .btn-download {
  height: 45px;
  width: 45px;
  border-radius: 36px;
  background: var(--orange);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
  height: 66%;
}
#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}
#content main .table-data .order .table-dashboard {
  width: 100%;
  border-collapse: collapse;
}
#content main .table-data .order .table-dashboard th {
  padding: 5px 10px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

#content main .table-data .order .table-dashboard td {
  padding: 20px 10px;
}

#content main .table-data .order .table-dashboard tbody tr:hover {
  background: var(--grey);
}
#content main .table-data .order .table-dashboard tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
  display: grid;
  place-items: center;
  font-size: 11px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
#content main .table-data .order .table-dashboard tr td .status.incom {
  background: #eca217;
}
#content main .table-data .order .table-dashboard tr td .status.spend {
  background: rgb(247, 205, 22);
}

.popup-window {
  display: none;
}

.show-popup {
  position: absolute;
  padding: 24px;
  transform: translate(-230px, -105px);
  background: var(--light);
  border-radius: 20px;
  display: flex !important;
  align-items: center;
  width: 500px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  gap: 10px;
  opacity: 1;
  animation: fadeIn linear 0.1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.show-popup input[type="number"] {
  width: 60%;
  height: 30px;
  outline: none;
  font-size: 17px;
  padding: 0px;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid var(--dark-grey);
}
.show-popup input[type="number"]:focus {
  border-bottom: 1px solid #eca217;
}
.show-popup span {
  width: 30%;
}
.show-popup button {
  border-radius: 50px;
  height: 20px;
  width: 20px;
  border: 1px solid var(--orange);
  background: var(--orange);
  color: var(--light);
  display: grid;
  place-content: center;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/*PROFILE*/
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
}
.image .profile-pic {
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.data h2 {
  font-size: 33px;
  font-weight: 600;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: calc(100% - 150px - 180px);
  width: 100%;
}
.user-info {
  font-size: 14px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: var(--orange);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.add-button {
  position: absolute;
  transform: translate(-235px, -40px);
  height: 20px;
  width: 20px;
  border-radius: 36px;
  background: var(--orange);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #content {
    width: calc(100% - 60px);
    left: 200px;
  }
  #content nav .nav-link {
    display: none;
  }
  .profile-card {
    display: none !important;
  }
}

@media screen and (max-width: 1053px) {
  #content {
    width: calc(100% - 60px);
    left: 200px;
  }
  .profile-card {
    max-width: 100%;
  }
}
@media screen and (max-width: 1575px) {
  .profile-card {
    display: none !important;
  }
}

@media screen and (max-width: 1100px) {
  #content main .box-info {
    grid-template-columns: 2fr;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }
  #content main .box-info {
    grid-template-columns: 3fr;
    min-width: 400px;
  }

  .head, .order  {
    min-width: 420px;
  }
  
  
}
